<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiller.backend.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhiller.backend.entity.User">
        <id column="id" property="id" />
        <result column="no" property="no" />
        <result column="name" property="name" />
        <result column="password" property="password" />
        <result column="age" property="age" />
        <result column="sex" property="sex" />
        <result column="phone" property="phone" />
        <result column="role_id" property="roleId" />
        <result column="is_valid" property="isValid" />
    </resultMap>

    <select id="customPage" resultType="com.zhiller.backend.entity.User">
        select *
        from user
    </select>

    <select id="wrapperPage" resultType="com.zhiller.backend.entity.User">
        select *
        from user ${ew.customSqlSegment}
    </select>

</mapper>
